Rating
  - Simple calculate
Menu Items
  - Data Entry
  - Menu Tags
  - Filtering Items
Restaurant Locations
User Accounts
 - history
 - preferences
 - restrictions
 - super users

- Questionable
  - Best Item Popup

- Additional
Mood of the Week
Best in Town
Restaurant Reccomendation
Comments
  -weights
Top 10 (Algorithm)
Follow Users

Use Case
  - Toast Notification once app detects one is in restuarnt
  - 
    
